body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f0ff;
}

header {
    background: linear-gradient(to right, purple, pink);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #6a0dad;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;

    

}img {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}